/*!
 * Sunworld v1.0.0
 * Copyright 2013-2015 Sunworld Group
 */
 

.navbar-default,
.navbar-inverse,
.navbar-fixed-top {
  -webkit-transition: all 0.9s;
  -moz-transition: all 0.9s;
  transition: all 0.9s;
}
 
.portfolio-carousel {
	color: black;
}

.portfolio-carousel .item {
  background-color: white;
}

.portfolio-carousel .item .portfolio-image {
  /*height: 400px;
  display: block;*/
  max-height: 400px;
}

div .portfolio-wrapper {
	/*height: 300px;*/
}

.art-image {
}
.img-logo{
	height: 100%;
}
.globe-img{
 height: 220px;
}
.img-room{
	height: 150px;
}
.page-scroll{
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer.footer{
	color: black;
}
